#include "version.h"
#include "verinfo.h"

#define VERSIONNAME               "fxmemmap.vxd\0"
#define VERSIONDESCRIPTION        "3Dfx Interactive, Inc. DirectX Driver\0"
#define VERSIONTYPE               VFT_DRV
#define VERSIONSUBTYPE            VFT2_DRV_INSTALLABLE

#include "verinfo.ver"
