#include <winver.h>

#include "verinfo.h"

#define VERSIONNAME               "fxptl.sys\0"
#define VERSIONDESCRIPTION        "3Dfx Interactive, Inc. Memory mapper\0"
#define VERSIONTYPE               VFT_DRV
#define VERSIONSUBTYPE            VFT2_DRV_INSTALLABLE

#include "verinfo.ver"
