#include <version.h>
#include "verinfo.h"

#ifdef H5 // Napalm
#define VERSIONNAME               "3dfxv3.vxd\0"
#define VERSIONDESCRIPTION        "3dfx Interactive Napalm Mini-VDD\0"
#else // Voodoo3
#define VERSIONNAME               "3dfxv3.vxd\0"
#define VERSIONDESCRIPTION        "3dfx Interactive Voodoo3\256 Series Mini-VDD\0"
#endif // H5

#define VERSIONTYPE               VFT_VXD
#define VERSIONSUBTYPE            VFT2_DRV_INSTALLABLE

#include "verinfo.ver"
