#include <version.h>
#include "verinfo.h"

#define VERSIONNAME               "3dfxvb.vxd\0"
#define VERSIONDESCRIPTION        "3dfx Interactive Banshee Mini-VDD\0"

#define VERSIONTYPE               VFT_VXD
#define VERSIONSUBTYPE            VFT2_DRV_INSTALLABLE

#include "verinfo.ver"
