#include <version.h>
#include "verinfo.h"

#define VERSIONNAME               "h3hal.vxd\0"
#define VERSIONDESCRIPTION        "Banshee CSIM VXD\0"
#define VERSIONTYPE               VFT_VXD
#define VERSIONSUBTYPE            VFT2_DRV_INSTALLABLE

#include "verinfo.ver"
