/*
** Copyright (c) 1995, 3Dfx Interactive, Inc.
** All Rights Reserved.
**
** This is UNPUBLISHED PROPRIETARY SOURCE CODE of 3Dfx Interactive, Inc.;
** the contents of this file may not be disclosed to third parties, copied or
** duplicated in any form, in whole or in part, without the prior written
** permission of 3Dfx Interactive, Inc.
**
** RESTRICTED RIGHTS LEGEND:
** Use, duplication or disclosure by the Government is subject to restrictions
** as set forth in subdivision (c)(1)(ii) of the Rights in Technical Data
** and Computer Software clause at DFARS 252.227-7013, and/or in similar or
** successor clauses in the FAR, DOD or NASA FAR Supplement. Unpublished -
** rights reserved under the Copyright Laws of the United States.
**
** $Header: $
** $Log: $
*/

#define OFFICIAL   1 
#define FINAL      1 

#include <fxver.h>
#include "rcver.h"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION MANVERSION, MANREVISION, 0, BUILD_NUMBER
 PRODUCTVERSION MANVERSION, MANREVISION, 0, BUILD_NUMBER
 FILEFLAGSMASK 0x0030003FL
 FILEFLAGS (VER_PRIVATEBUILD|VER_PRERELEASE|VER_DEBUG)

 FILEOS VOS_DOS_WINDOWS32
 FILETYPE VFT_DRV
 FILESUBTYPE VFT2_DRV_INSTALLABLE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "3Dfx Interactive, Inc.\0"
            VALUE "FileDescription", DESCRIPTIONSTR
            VALUE "FileVersion", VERSIONSTR
            VALUE "InternalName", VERSIONNAME
            VALUE "LegalCopyright", "Copyright \251 3Dfx Interactive, Inc. 1998\0"
            VALUE "OriginalFilename", VERSIONNAME
            VALUE "ProductName", PRODNAME
            VALUE "ProductVersion", PRODVER
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        /* the following line should be extended for localized versions */
        VALUE "Translation", 0x409, 1252
    END
END
