#include <windows.h>

#define Stringize(L)      #L
#define MakeString(M,L)   M(L)

#if _WIN32_WINNT >= 0x0500
#define NT_VER_MAJOR      5
#define NT_VER_MINOR      00
#define NT_VER_BUILD      VER_PRODUCTBUILD
#include "..\..\displays\h5\3Dfxver5.h"
#else
#define NT_VER_MAJOR      4
#define NT_VER_MINOR      00
#define NT_VER_BUILD      1381
#include "..\..\displays\h5\3Dfxver.h"
#endif

#define NT_VER_MAJOR_STR  MakeString(Stringize, NT_VER_MAJOR)
#define NT_VER_MINOR_STR  MakeString(Stringize, NT_VER_MINOR)
#define NT_VER_BUILD_STR  MakeString(Stringize, NT_VER_BUILD)

#include <ntverp.h>
#include "3Dfxbld.h"

#define BUILD_NUMBER_STR  MakeString(Stringize, BUILD_NUMBER)

#undef VER_PRODUCTVERSION
#undef VER_PRODUCTVERSION_STR
#undef VER_COMPANYNAME_STR
#undef VER_PRODUCTNAME_STR

#define VER_COMPANYNAME_STR			"3dfx Interactive, Inc."
#define VER_LEGALCOPYRIGHT_YEARS    "1998-2000"
#define VER_LEGALCOPYRIGHT_STR      "Copyright \251 3dfx Interactive, Inc. " VER_LEGALCOPYRIGHT_YEARS
#define VER_PRODUCTVERSION          NT_VER_MAJOR,NT_VER_MINOR,NT_VER_BUILD,BUILD_NUMBER
#define VER_PRODUCTVERSION_STR      NT_VER_MAJOR_STR "." NT_VER_MINOR_STR "." NT_VER_BUILD_STR "." BUILD_NUMBER_STR
#if DBG
#define VER_FILEVERSION_STR         "(" NT_VER_MAJOR_STR "." NT_VER_MINOR_STR "." NT_VER_BUILD_STR "." BUILD_NUMBER_STR ")" BUILD_DATE_STRING
#else
#define VER_FILEVERSION_STR         NT_VER_MAJOR_STR "." NT_VER_MINOR_STR "." NT_VER_BUILD_STR "." BUILD_NUMBER_STR
#endif

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_DISPLAY
#if H4VEL
#define VER_PRODUCTNAME_STR			"3dfx Interactive Velocity Series"
#define VER_FILEDESCRIPTION_STR     "3dfx Velocity Miniport Driver"
#define VER_INTERNALNAME_STR        "3dfxvsnm.sys"
#define VER_ORIGINALFILENAME_STR    "3dfxvsnm.sys"
#else
#define VER_PRODUCTNAME_STR			"3dfx Interactive VSA Series"
#define VER_FILEDESCRIPTION_STR     "3dfx VSA Miniport Driver"
#define VER_INTERNALNAME_STR        "3dfxvsnm.sys"
#define VER_ORIGINALFILENAME_STR    "3dfxvsnm.sys"
#endif

#ifndef VER_FILEVERSION
#define VER_FILEVERSION VER_PRODUCTVERSION
#endif

#if _WIN32_WINNT >= 0x0500 && defined(BUILDER)
#ifndef BUILDER
#define BUILDER                     Unknown Builder
#endif
#define BUILDER_STR                 MakeString(Stringize, BUILDER)
#define VER_SPECIALBUILD_STR        "Build type: Engineering Prototype\r\nBuilt by: " BUILDER_STR
#endif

#ifdef RC_INVOKED

VS_VERSION_INFO VERSIONINFO
FILEVERSION    VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILEFLAGSMASK  VER_FILEFLAGSMASK
FILEFLAGS      VER_FILEFLAGS
FILEOS         VER_FILEOS
FILETYPE       VER_FILETYPE
FILESUBTYPE    VER_FILESUBTYPE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"   /* LANG_ENGLISH/SUBLANG_ENGLISH_US, Unicode CP */
        BEGIN
            VALUE "CompanyName",     VER_COMPANYNAME_STR
            VALUE "FileDescription", VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",     VER_FILEVERSION_STR
            VALUE "InternalName",    VER_INTERNALNAME_STR
            VALUE "LegalCopyright",  VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename",VER_ORIGINALFILENAME_STR
            VALUE "ProductName",     VER_PRODUCTNAME_STR
            VALUE "ProductVersion",  VER_PRODUCTVERSION_STR
#if _WIN32_WINNT >= 0x0500 && defined(BUILDER)
            VALUE "SpecialBuild",    VER_SPECIALBUILD_STR
#endif
        END
        BLOCK "040904E4"   /* LANG_ENGLISH/SUBLANG_ENGLISH_US, Multilingual */
        BEGIN
            VALUE "CompanyName",     VER_COMPANYNAME_STR
            VALUE "FileDescription", VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",     VER_FILEVERSION_STR
            VALUE "InternalName",    VER_INTERNALNAME_STR
            VALUE "LegalCopyright",  VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename",VER_ORIGINALFILENAME_STR
            VALUE "ProductName",     VER_PRODUCTNAME_STR
            VALUE "ProductVersion",  VER_PRODUCTVERSION_STR
#if _WIN32_WINNT >= 0x0500 && defined(BUILDER)
            VALUE "SpecialBuild",    VER_SPECIALBUILD_STR
#endif
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
        VALUE "Translation", 0x0409, 0x04E4
    END
END

#endif

