#include <version.h>
#include "verinfo.h"

#define VERSIONTYPE              VFT_DRV
#define VERSIONSUBTYPE           VFT2_DRV_DISPLAY

#ifdef H5
# define VERSIONDESCRIPTION       "3dfx Interactive VSA 100\256 Series display driver"
# define VERSIONNAME	          "3dfx16v3.drv"
#else
# ifdef H4
#  define VERSIONDESCRIPTION      "3dfx Interactive Voodoo3\256 Series display driver"
#  define VERSIONNAME	          "3dfx16v3.drv"
# else
#  define VERSIONDESCRIPTION      "3dfx Interactive Banshee display driver"
#  define VERSIONNAME	          "3dfx16vb.drv"
# endif // H4
#endif // H5
#define VERSIONCOPYRIGHT          "Copyright \251 3dfx Interactive, Inc. 2000\0"

#include "verinfo.ver"

//
// we need to include the OEM resources to get LapLink to work
//
1       oembin      PRELOAD     "..\\..\\res\\config.bin"
fonts   oembin      PRELOAD     "..\\..\\res\\fonts.bin"
2       oembin                  "..\\..\\res\\colortab.bin"

