#include <version.h>
#include "verinfo.h"

#define VERSIONNAME               "3dfx32vb.dll\0"
#define VERSIONDESCRIPTION        "3dfx Interactive Voodoo Banshee\0"

#define VERSIONTYPE               VFT_DRV
#define VERSIONSUBTYPE            VFT2_DRV_INSTALLABLE

#include "verinfo.ver"
