#include <version.h>

#include "verinfo.h"

#ifdef H5 // Voodoo Scalable Architecture
#define VERSIONNAME               "3dfx32vs.dll\0"
#define VERSIONDESCRIPTION        "3dfx Interactive VSA 100\256 Series\0"
#else // Voodoo3
#define VERSIONNAME               "3dfx32v3.dll\0"
#define VERSIONDESCRIPTION        "3dfx Interactive Voodoo3\256 Series\0"
#endif // H5

#define VERSIONTYPE               VFT_DRV
#define VERSIONSUBTYPE            VFT2_DRV_INSTALLABLE

#include "verinfo.ver"
