#include <winver.h>

#include "verinfo.h"

#define VERSIONNAME               "fxgpio.sys\0"
#define VERSIONDESCRIPTION        "3Dfx Interactive, Inc. Generic Port I/O\0"
#define VERSIONTYPE               VFT_DRV
#define VERSIONSUBTYPE            VFT2_DRV_SYSTEM

#include "verinfo.ver"
